APP_NAME=firefly-iii-paypal-importer
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=/data/database.sqlite
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

FIREFLY_TOKEN=
FIREFLY_URI=
FIREFLY_PAYPAL_ACCOUNT_ID=

CURRENCY=EUR
